@model MathExpressionGenerator.Web.Models.IndexViewModel
@{
    var lang = BaseController.CurrentLanguage;
    var errorsHidden = Model.ShowErrors ? "" : "hidden";
}
<hr />
<div class="container row">
    <div class="col-md-4">

        <form asp-area="" asp-controller="home" asp-action="Index" method="post">
            <input asp-for="AllExpressionTypes" readonly hidden="hidden" />
            <input asp-for="AllExpressionOperations" readonly hidden="hidden" />
            <input asp-for="Result" hidden="hidden" />
            <div class="form-group">
                <label class="control-label">@lang.ChooseOperationType</label>
                <select asp-for="ChosenExpressionOperation"
                        asp-items="Model.AllExpressionOperations"
                        onchange="reload(this.value)"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">@lang.ChooseExpressionType</label>
                <select asp-for="ChosenExpressionType"
                        asp-items="@Model.AllExpressionTypes"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">@lang.ChooseMinOperand</label>
                <input asp-for="OperandMinValue" class="form-control" maxlength="10" />
                <div class="text-danger" @errorsHidden>@lang.InvalidNumberMinValueErrorMsg</div>
                <div class="text-danger" @errorsHidden>@lang.InvalidNumberMaxValueErrorMsg</div>
                <div class="text-danger" @errorsHidden>@lang.InvalidDifferenceMinMaxValue</div>
            </div>
            <div class="form-group">
                <label class="control-label">@lang.ChooseMaxOperand</label>
                <input asp-for="OperandMaxValue" class="form-control" maxlength="10" />
                <div class="text-danger" @errorsHidden>@lang.InvalidNumberMinValueErrorMsg</div>
                <div class="text-danger" @errorsHidden>@lang.InvalidNumberMaxValueErrorMsg</div>
                <div class="text-danger" @errorsHidden>@lang.InvalidDifferenceMinMaxValue</div>
            </div>
            <div class="form-group">
                <label class="control-label">@lang.ExpressionsCount</label>
                <input asp-for="ExpressionsCount" class="form-control" maxlength="5" />
                <span class="text-danger" @errorsHidden>@lang.MaxCountOfExpressionsExceeded</span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ShouldRandomize" /> @lang.Randomize
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">@lang.SaveAs</label>
                <select asp-for="FileExtensionSelected" asp-items="@Model.SaveAsOptions" class="form-control"></select>
            </div>
            <div class="form-group pull-left">
                <a asp-area=""
                   asp-controller="home"
                   asp-action="download"
                   class="btn btn-success"
                   asp-route-fileExtension="@Model.FileExtensionSelected">@lang.Save</a>
            </div>
            <div class="form-group pull-right">
                <a asp-area="" asp-controller="home" asp-action="clear" class="btn btn-warning">@lang.Clear</a>
                <input type="submit" value="@lang.Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-sm-4 col-md-8">
        <br />
        <textarea asp-for="Result" rows="23" class="form-control" readonly></textarea>
    </div>
</div>

@section Scripts {
    <script>
        function reload(dropDownValue) {
            window.location.href = '/home/index?expressionOperation=' + dropDownValue;
        }
    </script>
}